body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-gentium-book-basic: "Gentium Book Basic";
  --font-istok-web: "Istok Web";
  --font-poppins: Poppins;
  --font-inder: Inder;
  --font-be-vietnam-pro: "Be Vietnam Pro";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-mini: 15px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-6xl-7: 25.7px;
  --font-size-2xl: 21px;
  --font-size-15xl-3: 34.3px;
  --font-size-8xl: 27px;
  --font-size-mini-1: 14.1px;
  --font-size-2xs-6: 10.6px;
  --font-size-4xs-8: 8.8px;
  --font-size-mid-7: 17.7px;
  --font-size-2xl-2: 21.2px;
  --font-size-mid: 17px;
  --font-size-30xl: 49px;
  --font-size-sm-4: 13.4px;
  --font-size-3xs: 10px;
  --font-size-4xs-4: 8.4px;
  --font-size-base-7: 16.7px;
  --font-size-13xl: 32px;
  --font-size-sm-6: 13.6px;
  --font-size-base-9: 16.9px;
  --font-size-xs-7: 11.7px;
  --font-size-smi: 13px;
  --font-size-2xs-4: 10.4px;
  --font-size-xl-8: 20.8px;
  --font-size-18xl-1: 37.1px;
  --font-size-9xl-2: 28.2px;
  --font-size-4xl: 23px;
  --font-size-sm-5: 13.5px;
  --font-size-18xl-5: 37.5px;
  --font-size-base-5: 16.5px;

  /* Colors */
  --absolute-white: #fff;
  --golden: #674818;
  --color-saddlebrown-100: rgba(165, 92, 24, 0);
  --color-saddlebrown-200: rgba(165, 92, 24, 0.3);
  --color-saddlebrown-300: rgba(165, 92, 24, 0.32);
  --color-sienna: #8f6e40;
  --color-gray-100: #868686;
  --color-gray-200: #3b1c1c;
  --grey-15: #262626;
  --color-gray-300: #1b1c1e;
  --color-gray-400: rgba(255, 255, 255, 0.5);
  --color-gray-500: rgba(255, 255, 255, 0.75);
  --color-gray-600: rgba(0, 0, 0, 0);
  --color-gray-700: rgba(0, 0, 0, 0.5);
  --color-gray-800: rgba(0, 0, 0, 0.9);
  --color-gray-900: rgba(27, 28, 30, 0.5);
  --color-black: #000;
  --color-silver: #bfbfbf;
  --color-orangered-100: #cc0000;
  --color-orangered-200: #c70000;
  --cart-color: rgba(237, 234, 228, 0.08);
  --color-gainsboro-100: #e6e6e6;
  --white-90: #e3e3e8;
  --color-gainsboro-200: #d9d9d9;
  --grey-20: #333;
  --white-97: #f7f7f8;
  --white-95: #f1f1f3;
  --grey-35: #59595a;

  /* Gaps */
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-xl: 20px;
  --gap-16xl: 35px;
  --gap-102xl: 121px;
  --gap-54xl: 73px;
  --gap-17xl: 36px;
  --gap-base: 16px;
  --gap-mini: 15px;
  --gap-mid: 17px;
  --gap-51xl-5: 70.5px;
  --gap-25xl-5: 44.5px;
  --gap-3xl: 22px;
  --gap-lgi-8: 19.8px;
  --gap-2xl-4: 21.4px;
  --gap-base-4: 16.4px;
  --gap-sm-6: 13.6px;
  --gap-xs: 12px;
  --gap-sm-7: 13.7px;
  --gap-4xs-5: 8.5px;
  --gap-4xl: 23px;
  --gap-2xl-2: 21.2px;
  --gap-4xs-3: 8.3px;
  --gap-base-8: 16.8px;
  --gap-5xs-9: 7.9px;
  --gap-10xs-7: 2.7px;
  --gap-19xl-9: 38.9px;
  --gap-11xs-8: 1.8px;
  --gap-7xl: 26px;
  --gap-8xs-9: 4.9px;
  --gap-10xs-8: 2.8px;
  --gap-4xs-8: 8.8px;
  --gap-mini-1: 14.1px;
  --gap-5xl-7: 24.7px;
  --gap-7xs-2: 5.2px;
  --gap-5xs-1: 7.1px;
  --gap-9xs-9: 3.9px;
  --gap-4xl-9: 23.9px;
  --gap-10xs-6: 2.6px;
  --gap-9xs-7: 3.7px;
  --gap-5xs: 8px;
  --gap-9xl-5: 28.5px;
  --gap-6xs-9: 6.9px;
  --gap-12xs-1: 0.1px;
  --gap-6xs-7: 6.7px;
  --gap-11xs-7: 1.7px;
  --gap-10xs-9: 2.9px;
  --gap-sm-4: 13.4px;
  --gap-8xs: 5px;
  --gap-lgi: 19px;
  --gap-14xl: 33px;
  --gap-13xl: 32px;
  --gap-11xl-5: 30.5px;
  --gap-9xs-4: 3.4px;
  --gap-base-7: 15.7px;
  --gap-base-6: 15.6px;
  --gap-7xl-7: 26.7px;
  --gap-5xs-8: 7.8px;
  --gap-xl-6: 20.6px;
  --gap-12xs-6: 0.6px;
  --gap-13xl-9: 32.9px;
  --gap-55xl-9: 74.9px;
  --gap-18xl: 37px;
  --gap-lg-1: 18.1px;
  --gap-41xl-5: 60.5px;
  --gap-36xl-1: 55.1px;
  --gap-sm-8: 13.8px;
  --gap-4xs-7: 8.7px;
  --gap-15xl: 34px;
  --gap-18xl-5: 37.5px;
  --gap-3xl-5: 22.5px;
  --gap-5xs-5: 7.5px;

  /* Paddings */
  --padding-85xl: 104px;
  --padding-49xl: 68px;
  --padding-25xl: 44px;
  --padding-604xl: 623px;
  --padding-159xl: 178px;
  --padding-244xl: 263px;
  --padding-xl: 20px;
  --padding-70xl: 89px;
  --padding-194xl: 213px;
  --padding-111xl: 130px;
  --padding-58xl: 77px;
  --padding-152xl: 171px;
  --padding-119xl: 138px;
  --padding-46xl: 65px;
  --padding-31xl: 50px;
  --padding-66xl: 85px;
  --padding-sm: 14px;
  --padding-3xs: 10px;
  --padding-30xl: 49px;
  --padding-xs: 12px;
  --padding-7xl: 26px;
  --padding-4xs: 9px;
  --padding-mini: 15px;
  --padding-2xs: 11px;
  --padding-6xs: 7px;
  --padding-74xl: 93px;
  --padding-10xs: 3px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-2xl: 21px;
  --padding-53xl: 72px;
  --padding-4xl: 23px;
  --padding-7xs: 6px;
  --padding-mini-5: 14.5px;
  --padding-lg-5: 18.5px;
  --padding-8xs-2: 4.2px;
  --padding-16xl: 35px;
  --padding-9xl: 28px;
  --padding-11xs-8: 1.8px;
  --padding-base-5: 16.5px;
  --padding-8xs: 5px;
  --padding-7xs-1: 5.1px;
  --padding-11xs-7: 1.7px;
  --padding-35xl: 54px;
  --padding-mini-1: 14.1px;
  --padding-122xl: 141px;
  --padding-4xl-3: 23.3px;
  --padding-90xl-6: 109.6px;
  --padding-8xl: 27px;
  --padding-51xl: 70px;
  --padding-56xl: 75px;
  --padding-58xl-7: 77.7px;
  --padding-5xl: 24px;
  --padding-5xs-1: 7.1px;
  --padding-10xl-2: 29.2px;
  --padding-4xs-2: 8.2px;
  --padding-5xs: 8px;
  --padding-10xs-6: 2.6px;
  --padding-145xl-3: 164.3px;
  --padding-2xs-6: 10.6px;
  --padding-9xs-6: 3.6px;
  --padding-smi: 13px;
  --padding-sm-3: 13.3px;
  --padding-10xl-1: 29.1px;
  --padding-15xl-3: 34.3px;
  --padding-sm-6: 13.6px;
  --padding-smi-4: 12.4px;
  --padding-10xs-7: 2.7px;
  --padding-50xl-8: 69.8px;
  --padding-xs-4: 11.4px;
  --padding-3xl-1: 22.1px;
  --padding-21xl: 40px;
  --padding-2xs-9: 10.9px;
  --padding-mid-6: 17.6px;
  --padding-4xs-7: 8.7px;
  --padding-84xl: 103px;
  --padding-mini-8: 14.8px;
  --padding-lg-4: 18.4px;
  --padding-36xl-2: 55.2px;
  --padding-6xs-7: 6.7px;
  --padding-8xl-6: 27.6px;
  --padding-5xs-8: 7.8px;
  --padding-8xs-4: 4.4px;
  --padding-136xl-5: 155.5px;
  --padding-10xs-5: 2.5px;
  --padding-39xl: 58px;
  --padding-11xs-6: 1.6px;
  --padding-15xl: 34px;
  --padding-602xl: 621px;
  --padding-385xl: 404px;
  --padding-10xl: 29px;
  --padding-mid: 17px;
  --padding-base-6: 15.6px;
  --padding-9xl-2: 28.2px;
  --padding-xl-8: 20.8px;
  --padding-base-2: 15.2px;
  --padding-9xs-9: 3.9px;
  --padding-8xl-2: 27.2px;
  --padding-6xs-5: 6.5px;
  --padding-base: 16px;
  --padding-3xl-7: 22.7px;
  --padding-6xl: 25px;
  --padding-9xs: 4px;
  --padding-22xl: 41px;
  --padding-32xl-3: 51.3px;
  --padding-19xl-4: 38.4px;
  --padding-51xl-6: 70.6px;
  --padding-14xl: 33px;
  --padding-27xl: 46px;
  --padding-5xs-5: 7.5px;
  --padding-5xs-3: 7.3px;
  --padding-17xl: 36px;
  --padding-11xl: 30px;
  --padding-125xl: 144px;
  --padding-75xl: 94px;
  --padding-9xs-2: 3.2px;
  --padding-9xs-7: 3.7px;
  --padding-sm-9: 13.9px;
  --padding-11xl-7: 30.7px;
  --padding-3xl-5: 22.5px;
  --padding-18xl-5: 37.5px;
  --padding-18xl: 37px;
  --padding-lg: 18px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs-4: 4.4px;
  --br-8xs-2: 4.2px;
  --br-xl-3: 20.3px;
  --br-base-6: 15.6px;
  --br-base-3: 16.3px;
  --br-6xl: 25px;
  --br-mini: 15px;
  --br-215xl-5: 234.5px;
  --br-xl-8: 20.8px;
