.all-that-you8 {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.all-that-you-need-is-in-one-pl-child3 {
  position: absolute;
  height: 2.37%;
  width: 88.63%;
  top: 92.65%;
  right: 11.43%;
  bottom: 4.98%;
  left: -0.07%;
  border-top: 1px solid var(--golden);
  box-sizing: border-box;
}
.all-that-you-need-is-in-one-pl8 {
  width: 100%;
  position: absolute;
  top: 1451px;
  left: 113px;
  height: 42.2px;
  max-width: 100%;
}
.all-that-you9 {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.all-that-you-need-is-in-one-pl-child4 {
  position: absolute;
  height: 1.19%;
  width: 88.59%;
  top: 93.21%;
  right: 11.46%;
  bottom: 5.6%;
  left: -0.04%;
  border-top: 1px solid var(--golden);
  box-sizing: border-box;
  max-width: 100%;
}
.all-that-you-need-is-in-one-pl9 {
  width: 100%;
  position: absolute;
  top: 2108px;
  left: 118px;
  max-width: 100%;
}
.student-feedback-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.student-feedback-child1,
.student-feedback-child2 {
  position: absolute;
  top: 18.6px;
  left: 22.9px;
  width: 27.2px;
  height: 25.8px;
}
.student-feedback-child2 {
  top: 172.4px;
  border-radius: 50%;
  width: 95.8px;
  height: 95.8px;
  object-fit: cover;
}
.alvin-lim9 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.technical-co-founder-cto9 {
  margin: 0;
}
.alvin-lim-technical-container13 {
  width: 100%;
}
.alvin-lim-technical-container12 {
  top: 172px;
  left: 156px;
  width: 243.9px;
}
.alvin-lim-technical-container12,
.link-of-course9,
.udemy-was-truly-a9 {
  position: absolute;
  display: flex;
  align-items: center;
}
.udemy-was-truly-a9 {
  top: 72px;
  left: 23px;
  width: 344px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.link-of-course9 {
  top: 280px;
  left: 109.1px;
  color: var(--golden);
  height: 31px;
  min-width: 97.1px;
}
.student-feedback9 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.student-feedback-child3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.student-feedback-child4,
.student-feedback-child5 {
  position: absolute;
  top: 18.6px;
  left: 22.8px;
  width: 27.2px;
  height: 25.8px;
}
.student-feedback-child5 {
  top: 172.4px;
  border-radius: 50%;
  width: 95.8px;
  height: 95.8px;
  object-fit: cover;
}
.alvin-lim10 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.technical-co-founder-cto10 {
  margin: 0;
}
.alvin-lim-technical-container14 {
  width: 100%;
  position: absolute;
  top: 176.5px;
  left: 153.5px;
  display: inline-block;
}
.link-of-course10,
.udemy-was-truly-a10 {
  position: absolute;
  display: flex;
  align-items: center;
}
.udemy-was-truly-a10 {
  top: 72px;
  left: 23px;
  width: 361px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.link-of-course10 {
  top: 280px;
  left: 135px;
  width: 116.1px;
  height: 31px;
}
.student-feedback10 {
  position: absolute;
  top: 0;
  left: 420.3px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  color: var(--color-white);
}
.student-feedback-child6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.student-feedback-child7,
.student-feedback-child8 {
  position: absolute;
  top: 18.6px;
  left: 22.9px;
  width: 27.2px;
  height: 25.8px;
}
.student-feedback-child8 {
  top: 172.4px;
  border-radius: 50%;
  width: 95.8px;
  height: 95.8px;
  object-fit: cover;
}
.alvin-lim11 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.technical-co-founder-cto11 {
  margin: 0;
}
.alvin-lim-technical-container15,
.udemy-was-truly-a11 {
  width: 100%;
  position: absolute;
  top: 176.5px;
  left: 153.6px;
  display: inline-block;
}
.udemy-was-truly-a11 {
  top: 72px;
  left: 23px;
  box-sizing: border-box;
  padding-right: var(--padding-9xl);
}
.link-of-course11 {
  position: absolute;
  top: 280px;
  left: 139.1px;
  color: var(--golden);
  display: flex;
  align-items: center;
  width: 105.1px;
  height: 31px;
}
.student-feedback11 {
  position: absolute;
  top: 0;
  left: 841.5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.list-of-feedback3 {
  width: 100%;
  position: absolute;
  top: 2232px;
  left: 113px;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.welcome-note-child {
  position: absolute;
  top: 0;
  left: 465px;
  max-height: 100%;
  width: 811px;
  object-fit: cover;
  max-width: 112%;
  flex-shrink: 0;
}
.learning-that-gets2 {
  font-size: var(--font-size-30xl);
  color: var(--golden);
}
.learning-that-gets2,
.skill-for-your2 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.started-with-us2 {
  margin: 0;
  white-space: pre-wrap;
}
.learning-that-gets-container4 {
  width: 100%;
  position: absolute;
  top: 142px;
  left: 0;
  display: flex;
  align-items: center;
  height: 271px;
}
.welcome-note {
  position: absolute;
  top: 74px;
  left: 82px;
  width: 1276px;
  height: 516px;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-400);
}
.left-icon6 {
  top: 0;
  left: 0;
  width: 40px;
  min-height: 40px;
}
.left-group,
.left-icon6,
.left-icon7 {
  position: absolute;
  height: 40px;
}
.left-icon7 {
  top: 0;
  left: 76px;
  width: 40px;
  min-height: 40px;
}
.left-group {
  top: 2594px;
  left: 662px;
  width: 116px;
}
.home3,
.option10,
.option11,
.option9,
.portfolio3 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.option10,
.option11,
.option9,
.portfolio3 {
  min-width: 103px;
}
.option10,
.option11,
.option9 {
  min-width: 70px;
}
.home-group {
  position: absolute;
  top: 398px;
  left: 178px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 191px;
}
.hydraxxdesigns3 {
  position: absolute;
  top: 213px;
  left: 171px;
  line-height: 24px;
  font-weight: 600;
}
.about-us3,
.lorem-ipsum-dolor10,
.lorem-ipsum-dolor9 {
  position: absolute;
  line-height: 24px;
  display: inline-block;
}
.about-us3 {
  top: 213px;
  left: 667px;
  font-weight: 600;
  min-width: 94px;
}
.lorem-ipsum-dolor10,
.lorem-ipsum-dolor9 {
  width: 100%;
  top: 253px;
  left: 171px;
  font-size: var(--font-size-sm);
}
.lorem-ipsum-dolor10 {
  left: 667px;
}
.akar-iconstwitter-fill3,
.bigithub-icon3,
.bimedium-icon3,
.entypo-socialpinterest-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.frame-parent61,
.social-media3 {
  position: absolute;
  gap: var(--gap-xl);
}
.social-media3 {
  top: 253px;
  left: 1163px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
.frame-parent61 {
  top: 503px;
  left: calc(50% - 729px);
  background-color: var(--golden);
  width: 1449px;
  overflow: hidden;
  max-width: 115%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.get-in-touch3 {
  margin: 0;
  position: absolute;
  top: 104px;
  left: 178px;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.19em;
  font-weight: 600;
  font-family: inherit;
}
.lorem-ipsum-dolor11 {
  position: absolute;
  top: 161px;
  left: 178px;
  font-size: var(--font-size-sm);
  line-height: 24px;
  display: inline-block;
  width: 336px;
  max-width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.biphone-fill-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
}
.biphone-fill-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.dashiconsemail3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.janedoegmailcom3 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
}
.dashiconsemail-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frame-parent62 {
  position: absolute;
  top: 275px;
  left: 178px;
  height: 93px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 45px;
}
.footer-11-child2,
.footer-11-child3 {
  position: absolute;
  background-color: var(--color-white);
  max-width: 100%;
}
.footer-11-child2 {
  top: 161px;
  left: 782px;
  box-shadow: 0 4px 100px 20px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 476px;
}
.footer-11-child3 {
  top: 104px;
  left: 742px;
  width: 576px;
  height: 556px;
}
.footer-11-child4 {
  top: 175px;
  border: 1px solid var(--golden);
  box-sizing: border-box;
}
.footer-11-child4,
.footer-11-child5,
.footer-11-child6 {
  position: absolute;
  left: 792px;
  width: 477px;
  height: 50px;
  max-width: 100%;
}
.footer-11-child5 {
  top: 245px;
  border: 1px solid var(--golden);
  box-sizing: border-box;
}
.footer-11-child6 {
  top: 538px;
  background-color: var(--golden);
}
.footer-11-child7 {
  border: 1px solid var(--golden);
  background-color: transparent;
  height: 188px;
  width: 100%;
  outline: 0;
  position: absolute;
  top: 315px;
  left: 792px;
  box-sizing: border-box;
}
.say-something3 {
  position: absolute;
  top: 132px;
  left: 792px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.19em;
  font-weight: 600;
}
.name6 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-lg);
  background-color: transparent;
  top: 189px;
  left: 818px;
  color: var(--color-gray-300);
  text-align: left;
  opacity: 0.5;
  padding: 0;
}
.email3,
.name6,
.send3 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.email3 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-lg);
  background-color: transparent;
  top: 259px;
  left: 818px;
  color: var(--color-gray-300);
  text-align: left;
  opacity: 0.5;
  padding: 0;
}
.send3 {
  top: 552px;
  left: 1006px;
  color: var(--color-white);
  min-width: 49px;
}
.footer-113,
.nav-child2 {
  position: absolute;
  left: 0;
  max-width: 100%;
}
.footer-113 {
  top: 2674px;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.nav-child2 {
  height: 100%;
  top: 0;
  background-color: var(--golden);
  width: 1440px;
}
.courses14,
.name7 {
  margin: 0;
  position: absolute;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses14 {
  width: 100%;
  top: 2.27%;
  left: calc(50% + 391.5px);
  font-size: inherit;
  font-weight: 400;
  height: 129px;
  cursor: pointer;
}
.name7 {
  height: 97.73%;
  top: 0;
  left: calc(50% - 598.5px);
  font-size: var(--font-size-21xl);
  font-weight: 700;
  width: 207px;
}
.courses-parent2 {
  position: absolute;
  height: 102.33%;
  top: 0;
  bottom: -2.33%;
  left: calc(50% - 720px);
  width: 1197px;
}
.nav-child3 {
  position: absolute;
  top: 17px;
  left: 1235px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
.nav3,
.popular-courses-child {
  position: absolute;
  max-width: 100%;
}
.nav3 {
  top: 0;
  left: -1px;
  width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-gentium-book-basic);
}
.popular-courses-child {
  top: 49.5px;
  left: 0;
  box-shadow: 4px 4px 8.84px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  width: 1272.3px;
  height: 490.4px;
}
.free-courses1 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  display: inline-block;
  height: 14.1px;
  min-width: 89.2px;
}
.free-courses-wrapper {
  position: absolute;
  top: 0;
  left: 25.6px;
  width: 89.2px;
  height: 14.1px;
}
.piad-courses1 {
  position: absolute;
  top: 0;
  left: 155.5px;
  text-transform: capitalize;
  display: inline-block;
  height: 14.1px;
  min-width: 94.5px;
}
.check-list2,
.check-list3 {
  accent-color: #454545;
  margin: 0;
  position: absolute;
  top: 0;
  left: 129.8px;
  width: 17.7px;
  height: 17.7px;
}
.check-list3 {
  left: 0;
}
.group-parent,
.piad-courses-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 17.7px;
}
.group-parent {
  top: 10.6px;
  left: 812.9px;
}
.professional-courses1 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  display: inline-block;
  height: 20.3px;
}
.vector-icon3 {
  position: absolute;
  height: 26.11%;
  width: 4.75%;
  top: 42.86%;
  right: 0;
  bottom: 31.03%;
  left: 95.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.professional-courses-group {
  position: absolute;
  top: 7.1px;
  left: 542.5px;
  width: 241.9px;
  height: 20.3px;
  font-size: var(--font-size-2xl-2);
  font-family: var(--font-inter);
}
.more-info1,
.view-more-courses1 {
  position: absolute;
  text-decoration: underline;
  text-transform: capitalize;
}
.more-info1 {
  top: 410.8px;
  left: 1071.7px;
  font-size: var(--font-size-2xs-6);
  display: inline-block;
  color: var(--color-gray-100);
  width: 59.2px;
}
.view-more-courses1 {
  top: 63.6px;
  left: 995.8px;
  font-family: var(--font-inter);
}
.popular-courses-item {
  width: 100%;
  position: absolute;
  top: 88.4px;
  left: 109.6px;
  box-shadow: 0.9px 3.5px 4.42px rgba(0, 0, 0, 0.25);
  background-color: var(--cart-color);
  height: 399.4px;
}
.unconscious-bias3 {
  margin: 0;
}
.unconscious-bias2 {
  width: 100%;
  position: absolute;
  top: 288.9px;
  left: 120.2px;
  font-size: var(--font-size-mid-7);
  text-transform: capitalize;
  display: inline-block;
}
.popular-courses-inner {
  position: absolute;
  top: 88.4px;
  left: 109.6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.duration-25mins1 {
  position: absolute;
  top: 317.2px;
  left: 120.2px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-black);
  min-width: 120px;
}
.view-more-info3,
.view-more-info4,
.view-more-info5 {
  position: absolute;
  top: 496.6px;
  left: 179.4px;
  text-decoration: underline;
  text-transform: capitalize;
  display: inline-block;
  min-width: 103px;
}
.view-more-info4,
.view-more-info5 {
  left: 573.4px;
}
.view-more-info5 {
  left: 954.2px;
}
.free3 {
  font-weight: 700;
}
.free2 {
  width: 100%;
  position: absolute;
  top: 341px;
  left: 173.2px;
  text-transform: capitalize;
  color: var(--color-orangered-100);
  display: inline-block;
}
.star-icon19,
.star-icon20,
.star-icon21,
.star-icon22,
.star-icon23 {
  position: absolute;
  top: 388.8px;
  left: 121px;
  width: 14.2px;
  height: 14.2px;
}
.star-icon20,
.star-icon21,
.star-icon22,
.star-icon23 {
  left: 140.5px;
}
.star-icon21,
.star-icon22,
.star-icon23 {
  left: 179.4px;
}
.star-icon22,
.star-icon23 {
  left: 198.8px;
}
.star-icon23 {
  left: 159.9px;
}
.popular-courses-child1 {
  position: absolute;
  top: 387.9px;
  left: 205.9px;
  width: 8px;
  height: 15.9px;
}
.popular-courses-child2 {
  width: 100%;
  position: absolute;
  top: 88.4px;
  left: 493px;
  max-width: 100%;
  overflow: hidden;
  height: 399.4px;
}
.popular-courses-child3 {
  position: absolute;
  top: 428.5px;
  left: 559.3px;
  border-radius: 4.42px;
  background-color: var(--golden);
  width: 117.5px;
  height: 35.3px;
}
.buy-now2,
.duration-50mins1 {
  position: absolute;
  top: 435.6px;
  left: 588.4px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-white);
  min-width: 59px;
}
.duration-50mins1 {
  top: 315.4px;
  left: 505.4px;
  color: var(--color-black);
  min-width: 120px;
}
.i2 {
  top: 388.8px;
  left: 603.5px;
  font-size: var(--font-size-2xs-6);
  font-weight: 700;
  color: var(--color-gray-100);
  min-width: 39px;
}
.b,
.b1,
.i2,
.i3 {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.i3 {
  top: 389.6px;
  left: 216.5px;
  font-size: var(--font-size-2xs-6);
  font-weight: 700;
  color: var(--color-gray-100);
  min-width: 39px;
}
.b,
.b1 {
  top: 339.3px;
  left: 505.4px;
  color: var(--color-orangered-100);
  min-width: 45px;
  white-space: nowrap;
}
.b1 {
  top: 341px;
  left: 120.2px;
  text-decoration: line-through;
  color: var(--color-gray-100);
}
.popular-courses-child4 {
  position: absolute;
  top: 88.4px;
  left: 493px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular-courses-child5 {
  position: absolute;
  top: 88.4px;
  left: 493px;
  background-color: var(--color-orangered-100);
  width: 76.9px;
  height: 21.2px;
}
.best-seller2 {
  position: absolute;
  top: 91px;
  left: 503.6px;
  font-size: var(--font-size-2xs-6);
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-white);
  min-width: 55px;
}
.star-icon24,
.star-icon25,
.star-icon26,
.star-icon27,
.star-icon28 {
  position: absolute;
  top: 387px;
  left: 506.3px;
  width: 14.2px;
  height: 14.2px;
}
.star-icon25,
.star-icon26,
.star-icon27,
.star-icon28 {
  left: 525.7px;
}
.star-icon26,
.star-icon27,
.star-icon28 {
  left: 564.6px;
}
.star-icon27,
.star-icon28 {
  left: 584px;
}
.star-icon28 {
  left: 545.1px;
}
.popular-courses-child6 {
  position: absolute;
  top: 88.4px;
  left: 876.5px;
  box-shadow: 0.9px 3.5px 4.42px rgba(0, 0, 0, 0.25);
  background-color: var(--cart-color);
  width: 100%;
  height: 100%;
}
.critical-thinking3 {
  margin: 0;
}
.critical-thinking2 {
  width: 100%;
  position: absolute;
  top: 290.7px;
  left: 889.7px;
  font-size: var(--font-size-mid-7);
  text-transform: capitalize;
  display: inline-block;
}
.popular-courses-child7 {
  position: absolute;
  top: 88.4px;
  left: 876.5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.b2,
.duration-1hour1 {
  position: absolute;
  top: 317.2px;
  left: 887.1px;
  text-transform: capitalize;
  color: var(--color-black);
}
.b2 {
  top: 341px;
  display: inline-block;
  color: var(--color-orangered-100);
  min-width: 45px;
  white-space: nowrap;
}
.star-icon29,
.star-icon30,
.star-icon31,
.star-icon32,
.star-icon33 {
  position: absolute;
  top: 387px;
  left: 888px;
  width: 14.2px;
  height: 14.2px;
}
.star-icon30,
.star-icon31,
.star-icon32,
.star-icon33 {
  left: 907.4px;
}
.star-icon31,
.star-icon32,
.star-icon33 {
  left: 946.3px;
}
.star-icon32,
.star-icon33 {
  left: 965.7px;
}
.star-icon33 {
  left: 926.8px;
}
.communication3 {
  margin: 0;
}
.communication2 {
  width: 100%;
  position: absolute;
  top: 288px;
  left: 505.4px;
  font-size: var(--font-size-mid-7);
  text-transform: capitalize;
  display: inline-block;
  height: 20.3px;
}
.popular-courses-child8 {
  position: absolute;
  top: 428.5px;
  left: 945.4px;
  border-radius: 4.42px;
  background-color: var(--golden);
  width: 117.5px;
  height: 35.3px;
}
.buy-now3 {
  position: absolute;
  top: 435.6px;
  left: 974.6px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-white);
  min-width: 59px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4.42px;
  background-color: var(--color-white);
  border: 0.9px solid var(--golden);
  box-sizing: border-box;
  width: 117.5px;
  height: 35.3px;
}
.enroll-now1 {
  position: absolute;
  top: 8px;
  left: 22.1px;
  font-size: var(--font-size-mini-1);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-istok-web);
  color: var(--golden);
  text-align: left;
  text-shadow: 0.9px 0 0#674818, 0 0.9px 0#674818, -0.9px 0 0#674818,
    0-0.9px 0#674818;
  min-width: 73px;
}
.rectangle-parent18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 428.5px;
  left: 178.5px;
  white-space: nowrap;
}
.rectangle-parent18:hover {
  background-color: var(--color-gainsboro);
  border: 0.9px solid var(--color-sienna);
  box-sizing: border-box;
}
.group-item,
.i4 {
  position: absolute;
}
.i4 {
  top: 387.9px;
  left: 983.4px;
  font-size: var(--font-size-2xs-6);
  text-transform: capitalize;
  display: inline-block;
  font-weight: 700;
  color: var(--color-gray-100);
  min-width: 39px;
}
.group-item {
  top: 0;
  left: 0;
  background-color: var(--color-orangered-100);
  width: 76.9px;
  height: 21.2px;
}
.popular1 {
  position: absolute;
  top: 2.7px;
  left: 17.7px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 39px;
}
.rectangle-parent19 {
  position: absolute;
  top: 88.4px;
  left: 109.6px;
  width: 76.9px;
  font-size: var(--font-size-2xs-6);
  color: var(--color-white);
}
.popular-courses-child9 {
  position: absolute;
  top: 88.4px;
  left: 876.5px;
  background-color: var(--color-orangered-100);
  width: 76.9px;
  height: 21.2px;
}
.add1,
.best-seller3 {
  position: absolute;
  top: 91px;
  left: 887.1px;
  font-size: var(--font-size-2xs-6);
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-white);
  min-width: 55px;
}
.add1 {
  top: 322.5px;
  left: 1100px;
  font-size: var(--font-size-4xs-8);
  color: var(--color-silver);
  min-width: 17px;
}
.popular-courses-child10 {
  position: absolute;
  top: 290.7px;
  left: 1092.9px;
  border-radius: 50%;
  background-color: var(--golden);
  width: 100%;
  height: 100%;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 1.94%;
  width: 0.21%;
  top: 55.74%;
  right: 12.6%;
  bottom: 42.31%;
  left: 87.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  height: 0.5%;
  width: 0.97%;
  top: 56.67%;
  right: 12.31%;
  bottom: 42.83%;
  left: 86.71%;
}
.added1 {
  position: absolute;
  top: 322.5px;
  left: 711.3px;
  font-size: var(--font-size-4xs-8);
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-gray-200);
  min-width: 27px;
}
.popular-courses-child11 {
  position: absolute;
  top: 290.7px;
  left: 709.5px;
  border-radius: 50%;
  background-color: var(--color-orangered-200);
  width: 100%;
  height: 100%;
}
.vector-icon6,
.vector-stroke1 {
  position: absolute;
  height: 1.39%;
  width: 1.11%;
  top: 56.11%;
  right: 42.44%;
  bottom: 42.5%;
  left: 56.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-stroke1 {
  height: 5.72%;
  width: 1.67%;
  top: 40.15%;
  right: 3.25%;
  bottom: 54.13%;
  left: 95.07%;
}
.popular-courses {
  position: absolute;
  top: 827px;
  left: calc(50% - 636px);
  width: 1272px;
  height: 540px;
  font-size: var(--font-size-mini-1);
  font-family: var(--font-istok-web);
}
.all-that-you10 {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.all-that-you-need-is-in-one-pl-child5 {
  position: absolute;
  height: 1.45%;
  width: 88.63%;
  top: 93.04%;
  right: 11.43%;
  bottom: 5.51%;
  left: -0.07%;
  border-top: 1px solid var(--golden);
  box-sizing: border-box;
  max-width: 100%;
}
.all-that-you-need-is-in-one-pl10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 767px;
  max-width: 100%;
}
.all-courses {
  position: absolute;
  top: 758px;
  left: 118px;
  width: 767px;
  height: 69px;
}
.other-courses-child {
  position: absolute;
  top: 45.2px;
  left: 0;
  box-shadow: 4px 4px 8.36px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  width: 1204.3px;
  height: 465.8px;
}
.view-more-courses2,
.view-more-info6 {
  position: absolute;
  text-decoration: underline;
  text-transform: capitalize;
  display: inline-block;
}
.view-more-info6 {
  top: 470.9px;
  left: 169.8px;
  min-width: 97px;
  white-space: nowrap;
}
.view-more-courses2 {
  top: 0;
  left: 839.7px;
  font-family: var(--font-inter);
  color: var(--golden);
  min-width: 129px;
}
.group-inner {
  position: absolute;
  top: 22.6px;
  left: 0;
  box-shadow: 0.8px 3.3px 4.18px rgba(0, 0, 0, 0.25);
  background-color: var(--cart-color);
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.team-work1 {
  margin: 0;
}
.team-work {
  width: 100%;
  position: absolute;
  top: 212.4px;
  left: 10px;
  font-size: var(--font-size-base-7);
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-black);
}
.group-child1,
.group-child2 {
  position: absolute;
  top: 22.6px;
  left: 0;
}
.group-child1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group-child2 {
  background-color: var(--color-orangered-100);
  width: 72.8px;
  height: 20.1px;
}
.best-seller4 {
  position: absolute;
  top: 25.1px;
  left: 10px;
  font-size: var(--font-size-3xs);
  text-transform: capitalize;
  display: inline-block;
  min-width: 52px;
}
.mins {
  color: var(--color-black);
}
.duration-25mins-container {
  position: absolute;
  top: 239.2px;
  left: 10px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 114px;
  color: var(--golden);
}
.star-icon34,
.star-icon35,
.star-icon36,
.star-icon37,
.star-icon38 {
  position: absolute;
  top: 306.9px;
  left: 10.9px;
  width: 13.4px;
  height: 13.4px;
}
.star-icon35,
.star-icon36,
.star-icon37,
.star-icon38 {
  left: 29.3px;
}
.star-icon36,
.star-icon37,
.star-icon38 {
  left: 66.1px;
}
.star-icon37,
.star-icon38 {
  left: 84.5px;
}
.star-icon38 {
  left: 47.7px;
}
.group-child3,
.group-child4 {
  position: absolute;
  top: 306.1px;
  left: 91.2px;
  width: 7.5px;
  height: 15.1px;
}
.group-child4 {
  width: 100%;
  top: 22.6px;
  left: 363px;
  max-width: 100%;
  overflow: hidden;
  height: 378px;
}
.add2 {
  position: absolute;
  top: 244.2px;
  left: 572.9px;
  font-size: var(--font-size-4xs-4);
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-silver);
  min-width: 16px;
}
.group-child5 {
  position: absolute;
  top: 214.1px;
  left: 566.2px;
  border-radius: 50%;
  background-color: var(--golden);
  width: 100%;
  height: 100%;
}
.vector-icon7,
.vector-icon8 {
  position: absolute;
  height: 2.92%;
  width: 0.26%;
  top: 55.54%;
  right: 39.76%;
  bottom: 41.54%;
  left: 59.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon8 {
  height: 0.62%;
  width: 1.21%;
  top: 56.99%;
  right: 39.41%;
  bottom: 42.39%;
  left: 59.38%;
}
.group-child6 {
  position: absolute;
  top: 348.8px;
  left: 425.7px;
  border-radius: 4.18px;
  background-color: var(--golden);
  width: 111.2px;
  height: 33.5px;
}
.buy-now4 {
  position: absolute;
  top: 355.4px;
  left: 453.3px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 56px;
}
.mins1 {
  color: var(--color-black);
}
.duration-50mins-container {
  position: absolute;
  top: 237.5px;
  left: 374.7px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 114px;
  white-space: nowrap;
  color: var(--golden);
}
.i5 {
  top: 306.9px;
  left: 467.5px;
  font-size: var(--font-size-3xs);
  font-weight: 700;
  color: var(--color-gray-100);
  min-width: 36px;
}
.b3,
.b4,
.i5,
.i6 {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.i6 {
  top: 307.8px;
  left: 96.2px;
  font-size: var(--font-size-3xs);
  font-weight: 700;
  color: var(--color-gray-100);
  min-width: 36px;
}
.b3,
.b4 {
  top: 260.1px;
  left: 374.7px;
  color: var(--color-orangered-100);
  min-width: 42px;
  white-space: nowrap;
}
.b4 {
  top: 261.8px;
  left: 10px;
}
.group-child7 {
  position: absolute;
  top: 22.6px;
  left: 363px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.star-icon39 {
  position: absolute;
  top: 305.3px;
  left: 375.5px;
  width: 13.4px;
  height: 13.4px;
}
.group-child8,
.star-icon40,
.star-icon41,
.star-icon42,
.star-icon43 {
  position: absolute;
  top: 305.3px;
  left: 393.9px;
  width: 13.4px;
  height: 13.4px;
}
.group-child8,
.star-icon41,
.star-icon42,
.star-icon43 {
  left: 430.7px;
}
.group-child8,
.star-icon42,
.star-icon43 {
  left: 449.1px;
}
.group-child8,
.star-icon43 {
  left: 412.3px;
}
.group-child8 {
  width: 100%;
  top: 22.6px;
  left: 725.9px;
  box-shadow: 0.8px 3.3px 4.18px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  height: 378px;
}
.add3 {
  position: absolute;
  top: 244.2px;
  left: 937.5px;
  font-size: var(--font-size-4xs-4);
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-silver);
  min-width: 16px;
}
.group-child9 {
  position: absolute;
  top: 214.1px;
  left: 930.8px;
  border-radius: 50%;
  background-color: var(--golden);
  width: 100%;
  height: 100%;
}
.vector-icon10,
.vector-icon9 {
  position: absolute;
  height: 2.92%;
  width: 0.26%;
  top: 55.54%;
  right: 2.08%;
  bottom: 41.54%;
  left: 97.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10 {
  height: 0.62%;
  width: 1.21%;
  top: 56.99%;
  right: 1.74%;
  bottom: 42.39%;
  left: 97.05%;
}
.statistics {
  width: 100%;
  position: absolute;
  top: 214.1px;
  left: 738.5px;
  font-size: var(--font-size-base-7);
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-black);
}
.group-child10,
.group-child11 {
  position: absolute;
  top: 22.6px;
  left: 725.9px;
}
.group-child10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group-child11 {
  background-color: var(--color-orangered-100);
  width: 72.8px;
  height: 20.1px;
}
.best-seller5 {
  position: absolute;
  top: 25.1px;
  left: 736px;
  font-size: var(--font-size-3xs);
  text-transform: capitalize;
  display: inline-block;
  min-width: 52px;
}
.hour-12mins {
  color: var(--color-black);
}
.b5,
.duration-1hour-container {
  position: absolute;
  top: 239.2px;
  left: 736px;
  text-transform: capitalize;
  color: var(--golden);
}
.b5 {
  top: 261.8px;
  display: inline-block;
  color: var(--color-orangered-100);
  min-width: 42px;
  white-space: nowrap;
}
.star-icon44,
.star-icon45,
.star-icon46,
.star-icon47,
.star-icon48 {
  position: absolute;
  top: 305.3px;
  left: 736.8px;
  width: 13.4px;
  height: 13.4px;
}
.star-icon45,
.star-icon46,
.star-icon47,
.star-icon48 {
  left: 755.2px;
}
.star-icon46,
.star-icon47,
.star-icon48 {
  left: 792px;
}
.star-icon47,
.star-icon48 {
  left: 810.4px;
}
.star-icon48 {
  left: 773.6px;
}
.leadership-skills1 {
  margin: 0;
}
.leadership-skills {
  width: 100%;
  position: absolute;
  top: 211.6px;
  left: 373px;
  font-size: var(--font-size-base-7);
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-black);
}
.group-child12 {
  position: absolute;
  top: 348.8px;
  left: 791.2px;
  border-radius: 4.18px;
  background-color: var(--golden);
  width: 111.2px;
  height: 33.5px;
}
.buy-now5 {
  position: absolute;
  top: 355.4px;
  left: 818.8px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 56px;
}
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  position: absolute;
  height: 2.72%;
  width: 7.78%;
  top: 71.62%;
  right: 91.09%;
  bottom: 25.66%;
  left: 1.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  height: 2.27%;
  width: 6.03%;
  top: 71.59%;
  right: 53.85%;
  bottom: 26.14%;
  left: 40.12%;
}
.vector-icon13,
.vector-icon14 {
  height: 100%;
  width: 100%;
  top: 70.99%;
  right: 60.17%;
  bottom: 26.09%;
  left: 38.72%;
}
.vector-icon14 {
  height: 1.15%;
  width: 0.85%;
  top: 72.17%;
  right: 60.31%;
  bottom: 26.68%;
  left: 38.84%;
}
.vector-icon15,
.vector-icon16,
.vector-icon17,
.vector-icon18,
.vector-icon19 {
  position: absolute;
  height: 0.62%;
  width: 0.26%;
  top: 71.57%;
  right: 60.6%;
  bottom: 27.81%;
  left: 39.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon16,
.vector-icon17,
.vector-icon18,
.vector-icon19 {
  height: 2.27%;
  width: 6.03%;
  top: 72.22%;
  right: 16.51%;
  bottom: 25.51%;
  left: 77.45%;
}
.vector-icon17,
.vector-icon18,
.vector-icon19 {
  height: 100%;
  width: 100%;
  top: 71.62%;
  right: 22.84%;
  bottom: 25.46%;
  left: 76.06%;
}
.vector-icon18,
.vector-icon19 {
  height: 1.15%;
  width: 0.85%;
  top: 72.79%;
  right: 22.97%;
  bottom: 26.06%;
  left: 76.18%;
}
.vector-icon19 {
  height: 0.62%;
  width: 0.26%;
  top: 72.22%;
  right: 23.26%;
  bottom: 27.16%;
  left: 76.48%;
}
.group-child13 {
  position: absolute;
  top: 348.8px;
  left: 65.2px;
  border-radius: 4.18px;
  background-color: var(--golden);
  width: 111.2px;
  height: 33.5px;
}
.buy-now6,
.i7 {
  position: absolute;
  top: 355.4px;
  left: 92.8px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 56px;
}
.i7 {
  top: 306.1px;
  left: 827.1px;
  font-size: var(--font-size-3xs);
  font-weight: 700;
  color: var(--color-gray-100);
  min-width: 36px;
}
.group-child14 {
  position: absolute;
  top: 22.6px;
  left: 363px;
  background-color: var(--color-orangered-100);
  width: 72.8px;
  height: 20.1px;
}
.add4,
.best-seller6 {
  position: absolute;
  top: 25.1px;
  left: 373px;
  font-size: var(--font-size-3xs);
  text-transform: capitalize;
  display: inline-block;
  min-width: 52px;
}
.add4 {
  top: 241.7px;
  left: 210.8px;
  font-size: var(--font-size-4xs-4);
  color: var(--color-silver);
  min-width: 16px;
}
.group-child15 {
  position: absolute;
  top: 211.6px;
  left: 204.1px;
  border-radius: 50%;
  background-color: var(--golden);
  width: 100%;
  height: 100%;
}
.vector-icon20,
.vector-icon21 {
  position: absolute;
  height: 2.92%;
  width: 0.26%;
  top: 54.92%;
  right: 77.18%;
  bottom: 42.16%;
  left: 22.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon21 {
  height: 0.62%;
  width: 1.21%;
  top: 56.37%;
  right: 76.84%;
  bottom: 43.01%;
  left: 21.95%;
}
.view-more-courses-parent {
  position: absolute;
  top: 56.9px;
  left: 112.1px;
  width: 967.7px;
  height: 400.6px;
  color: var(--color-white);
}
.free-certifications {
  position: absolute;
  top: 0;
  left: 731.8px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 118px;
}
.check-list4 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 708.4px;
  border-radius: 4.18px;
  border: 0.8px solid #184b4b;
  box-sizing: border-box;
  width: 16.7px;
  height: 16.7px;
}
.paid-certifications {
  position: absolute;
  top: 0;
  left: 888.2px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 117.9px;
}
.check-list5 {
  accent-color: #454545;
  margin: 0;
  position: absolute;
  top: 0;
  left: 864.8px;
  width: 16.7px;
  height: 16.7px;
}
.view-more-info7,
.view-more-info8 {
  position: absolute;
  top: 470.9px;
  left: 542.8px;
  text-decoration: underline;
  text-transform: capitalize;
  display: inline-block;
  min-width: 97px;
}
.view-more-info8 {
  left: 903.2px;
}
.vector-stroke2 {
  position: absolute;
  height: 6.73%;
  width: 1.67%;
  top: 46.48%;
  right: 3.26%;
  bottom: 46.79%;
  left: 95.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.other-courses {
  position: absolute;
  top: 1533px;
  left: calc(50% - 602px);
  width: 1204.3px;
  height: 511px;
  font-size: var(--font-size-sm-4);
  font-family: var(--font-istok-web);
}
.landing-page-12 {
  width: 100%;
  height: 3665px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  mix-blend-mode: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--golden);
  font-family: var(--font-gentium-book-basic);
}
@media screen and (max-width: 1425px) {
  .frame-parent61,
  .nav3 {
    flex-wrap: wrap;
  }
  .nav3 {
    gap: 391px;
  }
  .landing-page-12 {
    height: auto;
    min-height: 3665;
  }
}
@media screen and (max-width: 1200px) {
  .list-of-feedback3 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(300px, 520px));
  }
}
@media screen and (max-width: 825px) {
  .all-that-you8,
  .all-that-you9 {
    font-size: var(--font-size-21xl);
  }
  .list-of-feedback3 {
    grid-template-columns: minmax(300px, 1fr);
  }
  .frame-parent61 {
    padding-left: var(--padding-66xl);
    padding-right: var(--padding-46xl);
    box-sizing: border-box;
  }
  .name7 {
    font-size: var(--font-size-13xl);
  }
  .nav3 {
    gap: 196px;
  }
  .all-that-you10 {
    font-size: var(--font-size-21xl);
  }
}
@media screen and (max-width: 450px) {
  .all-that-you8,
  .all-that-you9 {
    font-size: var(--font-size-11xl);
  }
  .learning-that-gets-container4 {
    font-size: var(--font-size-xl);
  }
  .frame-parent61 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .get-in-touch3 {
    font-size: var(--font-size-3xl);
  }
  .say-something3 {
    font-size: var(--font-size-lgi);
  }
  .name7 {
    font-size: var(--font-size-5xl);
  }
  .nav3 {
    gap: 98px;
  }
  .professional-courses1 {
    font-size: var(--font-size-mid);
  }
  .star-icon24,
  .star-icon25,
  .star-icon26,
  .star-icon27,
  .star-icon28,
  .star-icon29,
  .star-icon30,
  .star-icon31,
  .star-icon32,
  .star-icon33 {
    width: 100%;
